<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
         {% block css_files %} {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block page_title %} Layout {% endblock %}</title>
</head>
<body>

    {% include 'partials/_header.html' %}



    {% block content %} {% endblock %} <!-- İçerik burada dinamik olarak değişecek -->
    {% include 'partials/_footer.html' %}

    {% block js_files %} {% endblock %} <!-- JavaScript dosyalarını buraya ekleyebilirsiniz -->


</body>
</html>