<!doctype html>
<html lang="en">
<head>
    <!-- Karakter seti: UTF-8, bu sayede Türkçe gibi özel karakterler doğru bir şekilde gösterilir. -->
    <meta charset="UTF-8">

    <!-- Sayfa uyumluluğu için responsive özellikler. Bu ayar, sayfanın mobil cihazlarda düzgün görünmesini sağlar. -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Internet Explorer tarayıcıları için eski sürüm uyumluluğu sağlamak amacıyla belirlenen meta etiketi -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Sayfanın başlığını belirler. Şu anda "Document" olarak ayarlanmış, dinamik hale getirebilirsiniz. -->
    <title>Document</title>
</head>
<body>

    <!-- Sayfa başlığı. HTML sayfanızın ana başlığını içerir. Burada "index" metni görünecek. -->
    <h1>index</h1>

</body>
</html>
