{% extends "layout.html" %}



{% block page_title %}

{{ category }}

{% endblock %}

{% block content %}


    <h1>{{ category|title }}</h1> <!-- Kategori adını başlık gibi yazar (örneğin: "telefon" -> "Telefon") -->

    <!-- Eğer products listesi varsa aşağıyı çalıştırır -->
    {% if products %}
    <div>
        <p>Toplam ürün: {{ products|length }}</p> <!-- Ürün sayısını gösterir -->

        <!-- products listesi üzerinde döner -->
        {% for product in products %}
            <div class="product">
                <!-- Ürün ismini büyük harfli yazdırır -->
                <strong>{{ forloop.counter }}.</strong> {{ product|upper }}
            </div>
        {% endfor %}
    </div>

    <!-- Eğer products listesi boşsa burası çalışır -->
    {% else %}
        {% include 'partials/_no_product.html' %}
    {% endif %}

{% endblock %} <!-- İçerik burada dinamik olarak değişecek -->
